body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.calculator-container {
  background-color: black;
  border: 5px solid black;
  width: 300px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  font-size: 28px;
  font-weight: bolder;
  gap: 5px;
}

.box {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.box:active {
  transform: scale(0.98);
}
.screen {
  border: 5px solid black;
  border-bottom: none;
  height: 30px;
  padding: 1rem;
  font-size: 28px;
  font-weight: bolder;
  text-align: right;
  transition: all 0.95s ease;
}
